---
import Button, {
  ButtonSizes,
  ButtonVariants,
} from "@/components/ui/Button.astro";
import Input, { InputVariants } from "@/components/ui/Input.astro";
import Eye from "@/assets/icons/eye.svg";

interface Props {
  forgotPassword?: boolean;
}

const { forgotPassword } = Astro.props;
---

<Input
  variant={InputVariants.Primary}
  id="password"
  type="password"
  name="password"
  placeholder="********"
>
  <Button
    onclick="tooglePasswordVisibility()"
    variant={ButtonVariants.Ghost}
    size={ButtonSizes.SM}
    title="Toggle password"
    type="button"
    slot="right"
  >
    <Eye size={24} />
  </Button>
  {forgotPassword && <a class="text-sm px-2 w-fit text-primary hover:text-primary-hover" href="/forgot-password">Forgot Password?</a>}
</Input>

<script is:inline>
  const tooglePasswordVisibility = () =>
    document.startViewTransition(
      () => (password.type = password.type === "password" ? "text" : "password")
    );
</script>
