---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Project Manager" hideNavBar>
  <section class="w-4xl p-4 m-auto">
    <h2 class="text-center text-5xl font-bold">Welcome to Project Manager</h2>
    <p class="mt-4 text-center">
      This is a simple project manager application built with Astro, Tailwind CSS and Supabase.
    </p>
  </section>
</Layout>
