---

---

<div class="icon-picker">
  <div class="icon-picker__header">
    <input type="text" class="icon-picker__search" placeholder="Search icons" />
  </div>
  <div class="icon-picker__icons">
    
  </div>
</div>
